<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileOperacional">

        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Jornada Estoquista -->
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".ProductsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ProductDetailActivity" />
        <activity android:name=".InventoryActivity" />
        <activity android:name=".ScannerActivity" />
        <activity android:name=".ScannerNotFoundActivity" />
        <activity
            android:name=".RegisterDamageActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".DamageSuccessActivity" />
        <activity android:name=".IntelligenceActivity" />
        <activity
            android:name=".ChatAIActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ProfileActivity" />

        <!-- Jornada Gerente -->
        <activity android:name=".ManagerHomeActivity" />
        <activity
            android:name=".ManagerProductsActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ManagerProductDetailActivity" />
        <activity
            android:name=".NewProductActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditProductActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SuppliersActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".NewSupplierActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditSupplierActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ManagerIntelligenceActivity" />
        <activity
            android:name=".ApproveSuggestionActivity"
            android:windowSoftInputMode="adjustResize" />

        <!-- Jornada Dono -->
        <activity android:name=".OwnerHomeActivity" />
        <activity android:name=".ConfigActivity" />
        <activity
            android:name=".InviteMemberActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".EditMemberActivity"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />

    </application>

</manifest>