<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MottainaiOperacional">

        <!-- LAUNCHER agora é a LoginActivity -->
        <activity
            android:name=".activities.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ProductDetailActivity"
            android:exported="false" />

        <activity
            android:name=".activities.ProductFormActivity"
            android:exported="false" />

        <!-- Telas de protótipo: fluxo navegável das jornadas Estoquista,
             Gerente e Dono. Tema próprio porque o desenho é só claro. -->
        <activity
            android:name=".activities.ApproveSuggestionActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ChatAIActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ConfigActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.DamageSuccessActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.EditMemberActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.EditProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.EditSupplierActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.IntelligenceActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.InventoryActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.InviteMemberActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ManagerHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ManagerIntelligenceActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ManagerProductDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ManagerProductsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.NewProductActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.NewSupplierActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.OwnerHomeActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ProductsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.RegisterDamageActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ScannerActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.ScannerNotFoundActivity"
            android:exported="false"
            android:theme="@style/Theme.MottainaiPrototipo" />
        <activity
            android:name=".activities.SuppliersActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.MottainaiPrototipo" />

    </application>

</manifest>